# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
*.sqlite3
*.log

# VS/ .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.dbmdl
*.pdb
*.cache
*.mdb
*.opendb
*.pidb
*.svclog
*.vshost.*
TestResults/
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/
*.deps.json

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Others
*.bak
*.tmp
*.swp
*.swn
*.swo